/*цвет  основного текста #757575 */
/* цвет вторичного текста #212121 */
/*цвет акцента #2196F3 */

:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Container */
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
  outline: 2px solid tomato;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.web-logo {
  color: var(--accent-color);
}
/* Navigation */
.site-nav .link {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Authentific*/
.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* footer address */
.underside {
  background-color: #2f303a;
  color: #ffffff;
}
/* Logo */
.underside .logo {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: #ffffff;
}
.underside address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.underside .link {
  color: rgba(255, 255, 255, 0.1);
}
.underside .link:hover,
.underside .link:focus {
  color: var(--accent-color);
}
.underside .location {
  margin-bottom: 9px;
}
.underside .tel {
  margin-bottom: 9px;
}
.underside .mailtel {
  color: rgba(255, 255, 255, 0.6);
}
.underside .title {
  display: inline-block;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.underside .sing {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.underside .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
/* button */
.button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
